body{
    font-family: 'Inter', sans-serif;
}

ul{
    margin: 0;
    padding: 0;
}
h3{
    font-weight: 700;
}

/* ----- HEADER ----- */ 

/* NAV STYLING html 28*/
.logo{
    width: 100%;
    height: auto;
    vertical-align: middle;
    min-width: 158px;
}
.burger-menu,
.left-nav,
.right-nav{
    text-align: right;
    
}
.left-nav{
    padding-top: 6px;
}
.right-nav{
    padding-top: 3px;
}
nav{
    padding: 20px 0;
}
nav ul{
    vertical-align: middle;
}
nav ul li{
    margin-left: 15px;
    display: inline-block;
    font-weight: 500;
}
nav a{
    color: black;
}
a:hover{
    text-decoration: none;
}
nav .btn{
    border-color: #186dff;
    color: #186dff;
    font-weight: 500;
}
nav .btn:hover{
    background-color: #186dff;
    color: white;
    outline: none;
}
nav .btn:focus{
    outline-style: none !important;
}
.burger-menu{
    color: #007cfd;
}
/* FINE NAV */

/* JUMBOTRON STYLE html 86*/
.jumbo{
    width: 100%;
    background-image: url("../img/ms-jumbo.jpg");
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* left content box  */
.jumbo-content-box-left{
    color: white;
}
.jumbo-content-box-left h1{
    font-size: 50px;
}
.jumbo-content-box-left p{
    font-size: 20px;
    color: #c2d3fe;
}

/* right content box */
.form-group{
    margin-bottom: 10px;
}
.jumbo-content-box-right{
    border-radius: 5px;
    padding: 25px 15px;
    background-color: white;
    text-align: center;
}
.jumbo-content-box-right h2,
.jumbo-content-box-right h3{
    font-weight: 600;
}
.jumbo-content-box-right h3{
    color: #007cfd;
}

.jumbo-content-box-right .banner_btn{
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    padding: 6px;
}

.jumbo-content-box-right .lower-banner-btn{
    position: relative;
}
.jumbo-content-box-right img{
    height: 17px;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 5px;
}
.upper-banner-btn, 
.lower-banner-btn{
    font-size: 13px;
    font-weight: 500;
}
.upper-banner-btn{
    background-color: #579aff;
    border: 1px solid #4093ff;
    border-radius: 4px;
    color: white;
}
.lower-banner-btn{
    background-color: white;
    border: none;
    box-shadow: 2px 2px 10px lightgrey;
    color: #868686;
}

/* ----- FINE HEADER ----- */



/* ----- MAIN ----- */

/* banner dei loghi html 121*/
.section-logos-banner{
    padding: 20px 0;
    background-color: #f3f5f9;
    text-align: center;
}

.title-logos-banner{
    margin-bottom: 20px;
}
.footer-logos-banner{
    margin-top: 20px;
}
.title-logos-banner h4{
    color: #7b869f;
}
.footer-logos-banenr a{
    color: #006dfe;
}


/* product presentation HTML 171 */
.mini-wrapper{
    width: 90%;
    margin: auto;
}

/* riga che contiene titolo e paragrafo descrittivo */
.section-product-presentation{
    text-align: center;
    padding: 30px 0;
}
.section-product-presentation p{
    color: #5c6a88;
}
/* riga che contiene le liste */
.section-product-presentation .mini-wrapper{
    text-align: left;
    margin-top: 40px;
}

/* lista degli step */
.section-product-presentation .mini-wrapper ul{
    border-left: 1px solid rgb(196, 196, 196);
    padding-left: 8px;
    margin-bottom: 20px;
}
.section-product-presentation .mini-wrapper ul li{
    list-style: none;
    padding: 8px 0;
    color: grey;
    font-weight: 600;
}


/* griglia dei benefits */
.col_benefits_content h5{
    font-weight: 700;
    font-size: 16px;
    margin-top: 15px;
}
.col_benefits_content p{
    color: grey;
    margin-bottom: 20px;
}



/* COMMON CAROUSEL STUFF */
.carousel-section{
    text-align: center;
    background-color: #f3f5f9;
    padding-bottom: 50px;
}
.carousel-section p{
    color: #5c6a88;
}
.carousel-slide-container img{
    width: 100%;
    height: auto;
}
.carousel-title{
    margin: 50px;
}
.carousel-title h3{
    margin-bottom: 15px;
    color: #00013c;
}
.carousel-section h5{
    margin: 10px 0;
    color: #00013c;
}

.carousel-chevron-left{
    padding-top: 70%;
    text-align: right;
}
.carousel-chevron-right{
    padding-top: 70%;
    text-align: left;
}
.fa-chevron-right,
.fa-chevron-left{
    font-size: 30px;
    color: #6f7b97;
}
.fa-chevron-right:hover,
.fa-chevron-left:hover{
    color: #031c4e;
    cursor: pointer;
}

.carousel-circle-navigation-btn{
    height:10px;
    width: 10px;
    display: inline-block;
    border: 1px solid #016aff;
    border-radius: 50%;
}
.carousel-circle-navigation-btn:hover{
    cursor: pointer;
    background-color: #016aff;
}



/* features section */
.features-section{
    text-align: center;
    padding: 20px 0;
}
.features-section h3{
    margin-bottom: 30px;
    color: #00013c;
}
.feature-content{
    text-align: left;
    margin-bottom: 30px;
}
.feature-content h4{
    color: #00013c;
}
.feature-content p{
    color: grey;
}

/* around section */ 
.around-section{
    background-image: linear-gradient(to bottom, #0a44bb, #001f98);
    color: white;
    padding-bottom: 30px;
    padding-top: 30px;
}
.around-presentation{
    text-align: center;
    margin-bottom: 10px;
}
.around-section ul{
    border-bottom: 1px solid white;
}
.around-section ul:last-child{
    border: none;
}

.around-section ul li{
    display: inline-block;
    padding: 7px 0;
}
.around-section li:last-child{
    /* ALESSANDRO */
    /* cosi tanto brutto? */
    float: right;
}
.around-section li a {
    color: #01d5d1;
    padding-right: 8px;
}

.around-section li:first-child{
    width: 10%;
    margin-right: 4px;
}

.wrapping-list{
    margin-bottom: 20px;
}


/* carousel 2 section */
.second-carousel .relative-parent{
    position: relative;
    height: 350px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}
.second-carousel .relative-parent .carousel-box-container{
    position: absolute;
    top: 20%;
}
.second-carousel .carousel-chevron-left,
.second-carousel .carousel-chevron-right{
    padding-top: 170px;
}
 .second-carousel .relative-parent img{
    width: 70%;        
    margin-bottom: 15px;
}
.second-carousel .carousel-box-container p{
    padding: 0 10px;
}


/* get started section */
.get-started-section{
    background-image: linear-gradient(to bottom, #0a44bb, #001f98);
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    text-align: center;
}
.get-started-section h2{
    font-weight: 600;
}
.get-started-section button{
    background-color: white;
    color: #016aff;
    border-radius: 5px;
    border: 1px solid white;
    padding: 7px 15px;
    margin-top: 10px;
    font-weight: 600;
}


/* ----- FOOTER ----- */
footer{
    background-color: #031c4e;
    padding: 50px 0;
}
.under-logo-content h6:first-child{
    color: #8b94a9;
}
.under-logo-content h6:nth-child(2){
    color: #5a6887;
}
.under-logo-content .fab{
    color: #8b94a9;
    margin-top: 10px;
    font-size: 18px;
    margin-right: 8px;
}
.footer-list ul {
    list-style: none;
    margin-bottom: 20px;
}
.footer-list ul li{
    margin-bottom: 8px;
}
.footer-list ul li a{
    color: #a6adbd;
}
.footer-list h5{
    color: white;
    font-size: 17px;
}


/* importante: Sistemare font nelle versioni smartphone del banner */
/* gestione ad hoc dei loghi delle aziende */
@media all and (max-width: 991px) and (min-width: 767px){
    .section-logos-banner img{
        height: 55px;
    }
}

@media all and (max-width:767px){
    .carousel-slide-container{
        width: 75%;
        margin: 60px auto;
    }
    .second-carousel .relative-parent{
        width: 75%;
        margin:auto;
    }
}

@media all and (max-width: 420px){
    .title-logos-banner h4{
        font-size: 15px;
    }
    .section-logos-banner img{
        height: 55px;
    }
}

@media all and (max-width: 370px){ 
    .around-section ul li{
        font-size: 13px;
    }
}
@media all and (max-width: 335px){
    .around-section ul li{
        font-size: 10px;
    }
}
